.about-main{
    background-color: #cfe0c3;
    overflow: hidden;
}

.about-imgs{
    height: 200px;
    border-radius: 50%;
    border: var(--color1) inset 5px;
}

.about-team{
    background-color: #1f363d;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.footer-right {
    margin-left: 0;
}
.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 20px 20%;
    position: relative;
    overflow: hidden;
}

.about-bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-name {
    text-align: center;
    padding: 10px;
}
.about-bio {
    margin: 30px 10px;
    text-align: center;
}
.about-img-bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icon1{
    height: 90px;
    margin: 10px;
    border-radius: 5px;
}

.icon2{
    height: 90px;
    margin: 10px;
    border-radius: 5px;
}

.icon1:hover{
    animation: flipper1 1s infinite ease-in-out;
}
.icon2:hover{
    animation: flipper2 1s infinite ease-in-out;
}

@keyframes flipper1 {
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(-35deg);
    }
    50%{
      transform: rotate(-15deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  
  @keyframes flipper2 {
    10%{
      transform: rotate(0deg);
    }
    40%{
      transform: rotate(35deg);
    }
    65%{
      transform: rotate(15deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }

