body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

  .detail-page {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-details {
    width: 70vw;
  }

.sub-heading {
  font-weight: lighter;
  color: #1f363d;
}

.property-deets {
  display: flex;
  flex-direction: row;
  background-color: #cfe0c3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
  justify-content: space-around;
}

.property-deets div {
  color:#1f363d;
}

.deets {
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  color:#1f363d;
}

.street-address {
  color:aliceblue;
}

.address-area {
  background-color: #70a9a1;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  
}

.table-holder {
  margin: 30px;
}
.row-class {
  background-color:#cfe0c3;
  padding: 3px;
  margin-top: -3px;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.row-class p {
  width: 100px;
  outline: 3px solid #40798c;
  padding: 2px 2px 2px 5px;
  
  margin: 0px 3px 0px 0px;
  background-color: white;
}

.row-class2 {
  
  padding: 3px;
  margin-top: -3px;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.row-class2 p {
  width: 100px;
  outline: 3px solid #40798c;
  padding: 2px 2px 2px 5px;
  background-color:#40798c;
  margin: 0px 3px 0px 0px;
  color:white;
}

.school-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
.school-item {
  align-content: center;
  margin: 5px;
}

.school-item p {
  font-size: smaller;
  margin: 0px;
  
}

.school-grade {
  background-color: #40798c;
  width: 50px;
  color:white;
  border-radius: 25px;
  height: 45px;
  width: 45px;
  text-align:center;
  padding-top: 9px;
  margin-top: 5px;
}

.school-value {
  font-size: larger;
}

.deets-column {
  margin: 25px;
}