body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

  .detail-page {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-details {
    width: 70vw;
  }

.sub-heading {
  font-weight: lighter;
  color: #1f363d;
}

.property-deets {
  display: flex;
  flex-direction: row;
  background-color: #cfe0c3;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.property-deets div {
  margin-right: 155px;
  color:#1f363d;

}

.deets {
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  color:#1f363d;
}

.street-address {
  color:aliceblue;
}

.address-area {
  background-color: #70a9a1;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  
}