body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }
  .profile-page{
    background: linear-gradient(-45deg, var(--color5), var(--color2));
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
  }

  .profile {
    display: inline-block;
    box-shadow: 1px 1px 17px -1px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 15px;
    background:white;
    padding:20px;
    margin: 30px 0px 0px 25px;
    color: var(--color2);
  }

  .filters-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }
  .profile button{
    display: flex;
    align-self: flex-start;
    padding:20px;
  
  }
  .avatar-username{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .profile button{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
.avatar-username img{
  border-radius: 80px;
  height: 75px;
}
  .current-filters{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
  }

  .username-avatar-change{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-content: flex-start;
    justify-content: baseline;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 700;
    padding:10px;
    border-radius: 10px;
  }

  .filter-form{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-content: flex-start;
    justify-content: baseline;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 700;
    padding:10px;
    border-radius: 10px;
    margin: 0;
  }
