body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

  .profile{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color1);
    font-size: 1.2rem;
    background: rgba(255,255,255, 0.57);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
  }
  .profile input{
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 20px;
  }
  .profile button{
    color: var(--color3);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    font-weight: 700;
  }