body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 40px;
  margin: 40px;
  postion: absolute
}
.current-filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 40px;
  margin: 40px;
}
.current-filters form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  color: white;
};