body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

.css-yfo96e, .css-ttn1xo {
  padding: 0px !important;
}

.searchPage{
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

.search{
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  font-family: 'Poppins', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  flex-direction: column;
  box-shadow: 1px 1px 17px -1px rgba(0,0,0,0.9);
  background: rgba(255,255,255,0.57);
  margin: 0;
  height: 425px;
  background: url('../generic-home4.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.search form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background: rgba(48, 48, 48, 0.703);
  width: 100%;
  padding: 10px 0px 0px 20px;
  color: white;
}

.search input{
  width: 100px;
}

.favorite-home:hover {
  color: #D72638;
  transform: scale(1.2);
}

.remove-home:hover {
  color: 'white';
  transform: scale(1.2);
}