body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
  }

.card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  flex-direction: column;
  height: 10%;
  box-shadow: 1px 1px 17px -1px rgba(0,0,0,0.9);
  background: rgba(255,255,255,0.57);
  margin: 0;
  max-height: 500px;
}

.search form{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background: rgba(47, 147, 133, 0.57);
  width: 100%;
}

.search input{
  width: 100px;
}

.search img{
  width: 100%;
  opacity: .87;
  border-radius: 5px;
  margin: 0;
}