body{
    --color1: #1f363d;
    --color2: #40798c;
    --color3: #70a9a1;
    --color4: #9ec1a3;
    --color5: #cfe0c3;
   
    background: linear-gradient(
      to left,
      rgba(0,0,0, 0),
      var(--color3) 50%
    ),url(../generic-home2.jpg) ;
  }

.signIn{

}